/* Add a black background color to the top navigation */
.topnav {
  background-color: #dd1021;
  overflow: hidden;
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
}

.main {
  margin-top: 60px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffc300;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ffc300;
  color: black;
}   

/* Centre images */
.centre {
    display: block;
    position: fixed;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    bottom: 0px;
    margin-bottom: 0px;
}

table {
  border-collapse: collapse;
  width: 75%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; 
}

table, th, td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: darkgray;}

table.SummaryTable {
  width: 10%;
  font-weight: bold;
  font-size: 22px
}


img {
  z-index:-5;
}

form {
  margin-top: 0%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px; 
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

form.get {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 40%
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

p.summary {
  margin-left: auto;
  margin-right: auto;
  width: 20%
}

div.tooltip {	
  position: absolute;			
  text-align: center;								
  padding: 4px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}