/* Add a black background color to the top navigation */

html * {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";}


/* Style the links inside the navigation bar */
.navbar a {
  color: #f2f2f2;
  font-size: 25px; }

/* Style the main link in the navbar */
.navbar a.main {
  color: #f2f2f2;
  font-size: 40px; }

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #ffc300;
  color: black;
}   

.backgroundimages{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background-image: url('images/burger.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

table {
  border-collapse: collapse;
  width: 75%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; 
}

table, th, td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: darkgray;}

table.SummaryTable {
  width: 10%;
  font-weight: bold;
  font-size: 22px
}

img {
  z-index:-5;
}

form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: auto;
  width: 40%;
}


p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

p.summary {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}


/* Analytics page css */

.AnalyticsDropdowns {
  margin-top: auto;
}

svg {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

div.tooltip {	
  position: absolute;			
  text-align: center;								
  padding: 4px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}