html * {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  box-sizing: border-box;}

/* Navbar */

/* Style the links inside the navigation bar */
.navbar a {
  color: #f2f2f2;
  font-size: 25px;
  z-index: 100;
}

/* Style the main link in the navbar */
.navbar a.main {
  color: #f2f2f2;
  font-size: 40px; }

/* Add a color to the active/current link */
.navbar li.active a {
  color: #ffc300;
}   

.navbar a:hover {
  color: #ffc300;
}  

/* Background */

.backgroundimages{
  height: 100vh;
  width: 100vw;
  flex-basis:100%;
  flex-grow:1;
  background-image: url('images/burger.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.content-container {
  position: fixed;
  display: flex;
  flex-direction:column;
  height: 100vh;
  width: 100vw;
}

video {
  height: auto;
  vertical-align: middle;
  width: auto;
}

.overlay-div {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Homepage form */

.flex-form > * {
  border:0;
  padding:10px;
  background:white;
  line-height:50px;
  font-size:20px;
  border-radius:0;
  outline:0;
  border-right:2px solid rgba(0,0,0,0.2);
  -webkit-appearance:none;
}

.home-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items:center;
  border:15px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: auto;
}

input[type="number"]{
  flex-basis: 60%;
  flex-grow: 1;
}

select.category {
  flex-basis: 25%;
  flex-grow: 1.5;
}

select:invalid { color: gray; }

option {
  color: black;
}

input[type="submit"]{
  flex-basis: 10%;
  border-right: 0;
  outline:1px solid rgba(0,0,0,0.2);
  color: white;
  background-color:#dd1021;
}

input[type="submit"]:hover{
  color: black;
  background-color: #ffc300;
  box-shadow: 0 0 3pt 2pt green;
}

/* Homepage results table */

table {
  border-collapse: collapse;
  width: 75%;
  font-size: 16px; 
}

table, th, td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: darkgrey;}
tr:hover {background-color: #dd1021;}

table.SummaryTable {
  width: 10%;
  font-weight: bold;
  font-size: 22px
}

p.summary {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}


/* Analytics page */

.AnalyticsDropdowns {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

svg {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

div.tooltip {	
  position: absolute;			
  text-align: center;								
  padding: 4px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

.grid .tick line{
  stroke: darkgray;
  stroke-width: 1px !important;
  shape-rendering: crispEdges;
}

.plot_border {
  stroke: black;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
