{% extends 'calculator/base.html' %}

{% block content %}


<div class="topnav">
    <a href="home">Home</a>
    <a class = "active" href="analytics">Analytics</a>
    <a href="../about">About</a>
    <a href="contact">Contact</a>
</div>





<div class = "main">
<p>Analytics page here</p>


<script>

d3.csv("data.csv", function(error, data) {
            if (error) {
               throw error;
            }

})


console.log('hello world')  


</script>


<svg width = "500" height = "500">
    <rect x = "0" y = "0" width = "300" height = "200" fill = "yellow"></rect>
</svg>




</div>
{% endblock %}
