{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <script  type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>
  <title>If it fits your maccies</title>
  <meta name="description" content="If it fits your maccies">
  <meta name="JBMS" content="">
  <link rel="stylesheet", type="text/css", href="{% static 'calculator/style.css' %}">
</head>

<body>
    <!--JavaScript here
  <script src=""></script>
    -->


  {% block content %}


  {% endblock %}


  <div>
    <img src = "{% static 'calculator/images/fries.jpg' %}", class="centre">
  </div>
  
  
  </body>
  </html>