<form class="flex-form home-form" action="{% url 'home' %}" method="post">{% csrf_token %}

    <input type="number" name="protein" placeholder='How many grams of protein do you need?'>

    <select required class="category" name="category">
        <option value="" disabled selected hidden>Food category</option>
        <option value="ALL">Any</option>
        <option value="CHICKEN">Chicken</option>
        <option value="BURGER">Beef</option>
        <option value="BEVERAGE">Drinks</option>
        <option value="BREAKFAST">Breakfast</option>
        <option value="DESSERT">Dessert</option>
        <option value="HAPPYMEAL">Happy Meals</option>
    </select>

    <input type="submit" value="Search">

  </form>