{% extends 'calculator/base.html' %}

{% block content %}

    {% if get %}
    <p>How many grams of protein do you need? The most calorific thing on the menu is:</p>
    {% endif %}

  <div style="overflow-x:auto;">
    <table id="t01">
        <tr>
            <th>Menu item</th>
            <th>Calories</th>
            <th>Fat</th>
            <th>Saturated fat</th>
            <th>Trans fat</th>
            <th>Cholesterol</th>
            <th>Salt</th>
            <th>Carbohydrates</th>
            <th>Fibre</th>
            <th>Sugar</th>
            <th>Protein</th>
            <th>Category</th>
        </tr>
        {% for item in foods %}
        <tr> 
            <td>{{ item.name }}</td>
            <td>{{ item.cal }}</td>
            <td>{{ item.fat }}</td>
            <td>{{ item.sfat }}</td>
            <td>{{ item.tfat }}</td>
            <td>{{ item.chol }}</td>
            <td>{{ item.salt }}</td>
            <td>{{ item.carb }}</td>
            <td>{{ item.fbr }}</td>
            <td>{{ item.sgr }}</td>
            <td>{{ item.pro }}</td>
            <td>{{ item.category }}</td>
        </tr>
        {% endfor %}
    </table>
  </div>


  <form method="post" novalidate>
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
  </form>

  {% endblock %}
