{% extends 'calculator/base.html' %}

{% block content %}

<div class="topnav">
        <a class="active" href="home">Home</a>
        <a href="../about">About</a>
        <a href="contact">Contact</a>
    </div>


  <div class="main"; style="overflow-x:auto;">

    {% if not get %}
        {% if best.quantity > 1 %}
            <p class="summary">In order to get <b>{{ protein }}g</b> of protein, your best option is to order {{ best.quantity }} of {{ best.name }}.</p>
        {% else %}
            <p class="summary">In order to get <b>{{ protein }}g</b> of protein, your best option is to order 1 {{ best.name }}.</p>
        {% endif %}
        <p class="summary">That will get you a total of:</p>
        <table class ="SummaryTable">
                <tr> 
                    <td>Protein</td>
                    <td>{{ best.pro }}g</td>
                </tr>
                <tr> 
                    <td>Calories</td>
                    <td>{{ best.cal }}</td>
                </tr>
                <tr> 
                    <td>Fat</td>
                    <td>{{ best.fat }}g</td>
                </tr>
                <tr> 
                    <td>Saturated fat</td>
                    <td>{{ best.sfat }}g</td>
                </tr>
                <tr> 
                    <td>Carbohydrates</td>
                    <td>{{ best.carb }}g</td>
                </tr>
                <tr> 
                    <td>Sugar</td>
                    <td>{{ best.sgr }}g</td>
                </tr>
                <tr>
                    <td>Salt</td>
                    <td>{{ best.salt }}mg</td>
                </tr>
                <tr> 
                    <td>Fibre</td>
                    <td>{{ best.fbr }}g</td>
                </tr>
            </table>
        
    <p class="summary">If you want something else, your other options are displayed below:</p>
    {% endif %}

    {% if not get %}
    <table id="t01">
        <tr>
            <th>Menu Item</th>
            <th>Calories</th>
            <th>Fat</th>
            <th>Saturated fat</th>
            <th>Trans fat</th>
            <th>Cholesterol</th>
            <th>Salt</th>
            <th>Carbohydrates</th>
            <th>Fibre</th>
            <th>Sugar</th>
            <th>Protein</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Total Protein</th>
        </tr>
        {% for item in foods %}
        {% if item.quantity >= 1 %}
        <tr> 
            <td>{{ item.name }}</td>
            <td>{{ item.cal }}</td>
            <td>{{ item.fat }}</td>
            <td>{{ item.sfat }}</td>
            <td>{{ item.tfat }}</td>
            <td>{{ item.chol }}</td>
            <td>{{ item.salt }}</td>
            <td>{{ item.carb }}</td>
            <td>{{ item.fbr }}</td>
            <td>{{ item.sgr }}</td>
            <td>{{ item.pro }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_protein }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endif %}
  </div>

  {% if not get %}
    <p class="summary">Start again?</p>
    <form method="post" novalidate>
  {% else %}
    <form method="post" novalidate class="get">
  {% endif %}
    {% csrf_token %}
    {{ form }}
    <button type="submit">Go</button>
    </form>
    
  {% endblock %}
