{% extends 'calculator/base.html' %}

{% load static %}

{% block content %}

  <div style="overflow-x:auto;">

    {% if not get %}
        {% if best.quantity > 1 %}
            <p class="summary">In order to get <b>{{ protein }}g</b> of protein, your best option is to order {{ best.quantity }} of {{ best.name }}.</p>
        {% else %}
            <p class="summary">In order to get <b>{{ protein }}g</b> of protein, your best option is to order 1 {{ best.name }}.</p>
        {% endif %}
        <p class="summary">That will get you a total of:</p>
        <table class ="SummaryTable">
                <tr> 
                    <td>Protein</td>
                    <td>{{ best.pro }}g</td>
                </tr>
                <tr> 
                    <td>Calories</td>
                    <td>{{ best.cal }}</td>
                </tr>
                <tr> 
                    <td>Fat</td>
                    <td>{{ best.fat }}g</td>
                </tr>
                <tr> 
                    <td>Saturated fat</td>
                    <td>{{ best.sfat }}g</td>
                </tr>
                <tr> 
                    <td>Carbohydrates</td>
                    <td>{{ best.carb }}g</td>
                </tr>
                <tr> 
                    <td>Sugar</td>
                    <td>{{ best.sgr }}g</td>
                </tr>
                <tr>
                    <td>Salt</td>
                    <td>{{ best.salt }}mg</td>
                </tr>
                <tr> 
                    <td>Fibre</td>
                    <td>{{ best.fbr }}g</td>
                </tr>
            </table>
        
    <br></br>        
    <p class='summary'>Your other options</p>
    {% endif %}

    {% if not get %}
    <table id="t01">
        <tr>
            <th>Menu Item</th>
            <th>Calories</th>
            <th>Fat</th>
            <th>Saturated fat</th>
            <th>Trans fat</th>
            <th>Cholesterol</th>
            <th>Salt</th>
            <th>Carbohydrates</th>
            <th>Fibre</th>
            <th>Sugar</th>
            <th>Protein</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Total Protein</th>
        </tr>
        {% for item in foods %}
        {% if item.quantity >= 1 %}
        <tr> 
            <td>{{ item.name }}</td>
            <td>{{ item.cal }}</td>
            <td>{{ item.fat }}</td>
            <td>{{ item.sfat }}</td>
            <td>{{ item.tfat }}</td>
            <td>{{ item.chol }}</td>
            <td>{{ item.salt }}</td>
            <td>{{ item.carb }}</td>
            <td>{{ item.fbr }}</td>
            <td>{{ item.sgr }}</td>
            <td>{{ item.pro }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_protein }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endif %}
  </div>

  <form class="flex-form home-form"> 

    <input type="number" placeholder='How many grams of protein do you need?'>

    <select required class="category">
        <option value="" disabled selected hidden>Food category</option>
        <option value="ALL">Any</option>
        <option value="CHICKEN">Chicken</option>
        <option value="BURGER">Beef</option>
        <option value="BEVERAGE">Drinks</option>
        <option value="BREAKFAST">Breakfast</option>
        <option value="DESERT">Dessert</option>
        <option value="HAPPYMEAL">Happy Meals</option>
    </select>

    <input type="submit" value="Search">

  </form>



  {% endblock %}